# Create .env file based on this file and fill the variables.
# cp .env.example .env

# VK login and password.
# Required if both KATE_TOKEN and VK_OFFICIAL_TOKEN not specified.
VK_LOGIN=
VK_PASSWORD=

# VK user tokens.
# Required if VK_LOGIN and VK_PASSWORD not specified, otherwise tokens will be auto generated.
VK_KATE_TOKEN=
VK_OFFICIAL_TOKEN=

# Numeric id of your VK community.
# Required.
VK_COMMUNITY_ID=

# VK community token.
# To obtain it:
# 1. Go to your community page;
# 2. "Manage" -> "API usage" -> "Access usage" -> "Create token";
# 3. Select "Allow access to community management";
# 4. Copy token and paste here.
# Required.
VK_COMMUNITY_TOKEN=

# Title for your VK Callback API server (1-14 characters).
# Will be used in automatic server creation.
# Default: vk-to-tgm
VK_SERVER_TITLE=

# Server URL, which will be used by VK for callback events.
# Required.
SERVER_URL=

# Id and hash for your Telegram application.
# Read more: https://core.telegram.org/api/obtaining_api_id
# Required.
TGM_API_ID=
TGM_API_HASH=

# Phone number of your Telegram client account.
# Used for searching posts in the main Telegram channel.
# Required if you need Telegram bot.
TGM_CLIENT_PHONE=

# Token of your Telegram bot.
# Read more: https://core.telegram.org/bots#6-botfather
# Required.
TGM_BOT_TOKEN=

# Numeric id of your main Telegram channel.
# Required if channel is private.
TGM_CHANNEL_ID=

# Name of your main Telegram channel.
# Required if TGM_CHANNEL_ID not specified.
TGM_CHANNEL_USERNAME=

# Numeric id of your playlist Telegram channel.
# Optional if you don't need playlist channel, otherwise required if channel is private.
TGM_PL_CHANNEL_ID=

# Name of your playlist Telegram channel.
# Optional if you don't need playlist channel, otherwise required if TGM_PL_CHANNEL_ID not specified.
TGM_PL_CHANNEL_USERNAME=

# Ignore VK ad posts
# Default: True
VTT_IGNORE_ADS=

# Text language for Telegram bot and posts
# Available: "en", "ru"
# Default: "en"
VTT_LANGUAGE=

# ========= SSL Settings =========

# Domain name of your server.
# Required.
NGINX_SERVER_NAME=

# The email used to register an account to Let's Encrypt, you will receive a renewal notice email here.
# Required.
SSL_EMAIL=

# Enable client SSL setup
# Default: 0
ENABLE_CLIENT_SSL=
