# Create .celeryconfig file based on this file. If you want, you can modify the variables.
# cp .celeryconfig.py.example .celeryconfig.py

# Broker settings.
broker_url = "amqp://guest:guest@localhost:5672//"

# Using the database to store task state and results.
result_backend = "db+sqlite:///celery-results.db"

task_track_started = True

worker_cancel_long_running_tasks_on_connection_loss = True

broker_pool_limit = 1
broker_heartbeat = None
task_acks_late = True
worker_prefetch_multiplier = 1

task_routes = {
    "app.celery_worker.forward_wall": {"queue": "vtt-wall"},
    "app.celery_worker.forward_playlist": {"queue": "vtt-playlist"},
}
